/*----------------------------------------------
loading
------------------------------------------------*/

.progress-bar {
    background-color: #A778D6;
}

#loading {
    background-color: var(--ds-white);
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999999;
}

#loading-center {
    background: url(../images/loading.svg) no-repeat scroll center center;
    background-size: 10%;
    width: 100%;
    height: 100%;
    position: relative;
}

.loader {
    width: 3em;
    height: 3em;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.rounded {
    border-radius: 5px !important;
}