body{font-family: 'Book Antiqua';}
body{padding:0px; margin:0px; background:-moz-linear-gradient(center bottom , #FeFeFe 20%, #F0F0F0 50%, #fefefe 80%) repeat scroll 0 0 transparent; background:-webkit-gradient(linear,left bottom,left top,color-stop(0.00, #FeFeFe),color-stop(0.52, #F0F0F0),color-stop(0.78, #fefefe))}
div.main{width:930px;  border:1px solid #dddddd; margin-top:10px; box-shadow:0px 0px 3px #dddddd;}
div.head{ float:left; padding-top:0px; width: 650px;}
div.info{ float:left; margin-left:10px; border-left: 1px dashed #aaaaaa; width: 265px;}
table.tableform{}
table.tableform th{ text-align: left;}
table.tableform th span{ color: #ff0000; font-size: 13px;}
div.result{border-bottom:1px solid #CCCCCC;}
table.tableform{margin-bottom:5px; margin-top:5px;}
td{}
input, select{border:none; width:99%; font-size:18px;width:200px; height:40px; border:1px solid #dddddd; background:#FFFFFF;box-shadow:0px 0px 3px #dddddd;}
div.footer{ width:930px; font-size:16px; margin-top:10px; margin-bottom: 10px;}
div.footer_left{float:left; text-align:left;}
div.footer_right{float:right; text-align:right;}
h3{text-align:right;margin:0px; padding:20px 5px 0px 0px; border-bottom:1px dashed #AAAAAA;font-weight:normal;}
th{text-align:right;font-weight:normal;}
input.submit{height:40px; width:110px; color:#FFFFFF; font-size:16px; background:-moz-linear-gradient(center top , #757575, #4B4B4B) repeat scroll 0 0 transparent; background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757)); border-radius:6px;}
div.news{width:930px; border:1px solid #dddddd; box-shadow:0px 0px 3px #dddddd; margin-top:5px; margin-bottom:5px; text-align:left; padding-bottom:5px; padding-top:5px; min-height: 525px;}
h1.info{ text-align: center; color: #ff0000;}